* {
  font-family: "Antic Didone", serif;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

body::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}

header {
  text-align: center;
}

.covid-container {
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3em 0;
}

#covid-stat {
  border-collapse: collapse;
  width: 90%;
  max-width: 1000px;
  margin: 2em auto;
}
#covid-stat td,
#covid-stat th {
  border: 1px solid #ddd;
  padding: 8px;
}
#covid-stat tr:nth-child(even) {
  background-color: #f2f2f2;
}
#covid-stat tr:hover {
  background-color: #ddd;
}
#covid-stat th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--clr-primary-5);
  color: white;
}
#covid-stat td {
  font-weight: 600;
  font-size: 18px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.refresh-btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.refresh-btn button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background: var(--clr-primary-5);
  border: none;
  border-radius: 10px;
  font-family: "Damion", cursive;
  color: white;
  font-size: 20px;
  transition: 500ms;
}
.refresh-btn button:focus {
  outline: none;
}

.article-container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.11);
}

.article-container {
  background-image: url("../images/1.jpg");
  filter: brightness(1.2);
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.article-container .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex-direction: column;
  color: #a83d3d;
  margin: 0 2em;
}
.article-container .heading h3 {
  letter-spacing: 0.3em;
  font-size: 2rem;
  font-weight: 600;
}
.article-container .heading h1 {
  color: rgba(0, 0, 0, 0.74);
  font-size: 1em;
}

.heading-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-title .bar {
  width: 1.5rem;
  height: 0.115rem;
  margin-right: 0.5625rem;
  background-color: #e00;
}

@media (max-width: 760px) {
  #covid-stat {
    font-size: 0.8rem;
    letter-spacing: 0em;
  }
  #covid-stat td {
    font-size: 0.8rem;
  }
}
.hero {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  margin: 1em auto;
  border-radius: 10px;
  grid-template-areas: "left content right";
  gap: 2em;
}
.hero .hero-header {
  grid-area: content;
}
.hero .hero-header .hero-title {
  display: flex;
}
.hero .hero-header .bar {
  width: 0.1rem;
  height: 2.5rem;
  margin: 0 1em;
  background-color: #e00;
  transform: translateY(15px);
}
.hero .article-item {
  margin: 3em 0;
}
.hero .article-item img {
  width: 100%;
}
.hero .left-side {
  word-wrap: break-word;
  padding: 2em;
}
.hero .left-side .left-container {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}
.hero .right-side {
  padding: 2em;
}
.hero .right-side .right-container {
  top: 30px;
  position: -webkit-sticky;
  position: sticky;
}
.hero .right-side .right-container img {
  max-width: 300px;
  border-radius: 20px;
  margin-top: 1em;
  display: block;
}
.hero .right-side .right-container a {
  font-size: 0.8rem;
  color: #41c0f1;
}

@media (max-width: 1100px) {
  .left-side {
    display: none;
  }

  .right-side {
    display: none;
  }

  .hero {
    display: flex;
    width: 80%;
  }
}/*# sourceMappingURL=covid.css.map */