:root {
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Lato:wght@300&family=PT+Serif&family=The+Nautigal&display=swap");

.reminder-title {
  text-align: center;
}

.reminder-banner {
  width: 100%;
  position: relative;
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1514416205405-075ab2f15964?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1970&q=80");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: rgb(255, 255, 255);

  letter-spacing: 0.1em;

  .reminder-text {
    font-size: 1em;
    max-width: 300px;
    width: 100%;
  }
  .reminder-header {
    font-size: 1.5em;
    max-width: 300px;
    width: 100%;
  }
  .reminder-big-header {
    max-width: 300px;
    width: 100%;
    font-size: 2em;
    line-height: 1.3em;
  }

  .reminder-hero-container {
    margin-left: 10em;
    line-height: 2em;
  }
}

.reminder-list-container {
  border-radius: 5px;
  width: 80%;
  max-width: 1000px;
  margin: 3em auto;
  background: #3fbbc0;
  padding: 3em;
  box-shadow: var(--dark-shadow);
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.25;
    letter-spacing: 0.2em;
    color: #fff;
    margin-bottom: 0.5em;
  }
  .reminder-list {
    width: 80%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--dark-shadow);
    padding: 3em;
    margin-bottom: 3em;

    .reminder-content {
      border: 3px groove #e0d4d4;
      padding: 2em;
    }

    .empty-reminder {
      padding: 3em;
      h3 {
        color: rgb(177, 170, 170);
        font-size: 1em;
      }
    }
    .reminder-item {
      background: #edf1f1;
      box-shadow: var(--dark-shadow);
      padding: 1em;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 5px;
      margin-bottom: 2em;

      .reminder-item-label {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 70%;

        p {
          text-align: center;
          word-break: break-word;
          font-size: 1.1rem;
          font-weight: 600;
          margin: 1em;
          letter-spacing: 0.3em;
          padding: 1em;
          color: black;
          width: 100%;
        }
      }

      &:hover {
        filter: brightness(1.1);
        transition: filter 0.3s ease-in;
      }
      .btn-container-reminder {
        display: flex;
        align-items: center;
      }
      .edit-btn,
      .delete-btn {
        background: transparent;
        border-color: transparent;
        cursor: pointer;
        font-size: 1.5rem;
        margin: 0 0.15rem;
        transition: var(--transition);
      }
      .edit-btn {
        color: var(--clr-green-light);
      }
      .edit-btn:hover {
        color: var(--clr-green-dark);
      }
      .delete-btn {
        color: var(--clr-red-light);
      }
      .delete-btn:hover {
        color: var(--clr-red-dark);
      }
    }
    @media (max-width: "860px") {
      .reminder-item {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: "980px") {
  .reminder-list-container {
    width: 100%;
    padding: 1em;
    .reminder-list {
      width: 100%;
      .reminder-content {
        padding: 0;
        border: none;
      }
    }
  }
}

.add-reminder {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--dark-shadow);
  padding: 3em;
  .reminder-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-areas:
      "label description"
      "platform description";
    gap: 2em;
    .reminder-label {
      grid-area: label;
      display: flex;
      flex-direction: column;
    }
    .reminder-platform {
      grid-area: platform;
      display: flex;
      flex-direction: column;
    }
    .reminder-description {
      grid-area: description;
      display: flex;
      flex-direction: column;
      textarea {
        &::-webkit-scrollbar-thumb {
          background-clip: padding-box;
          border: 4px solid transparent;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
          cursor: pointer;
        }
      }
    }
    .reminder-label,
    .reminder-platform,
    .reminder-description {
      label {
        font-size: 1.2rem;
        margin-bottom: 0.3em;
      }
      .input-header {
        padding: 0.5em;
        background-color: #f8f8f6;
        border-radius: 3px;
        input {
          border: none;
          padding: 0.5em;
          margin-left: 1em;
          border-radius: 3px;
          width: 90%;
          letter-spacing: 0.1em;
          font-size: 1.1rem;
        }
      }
      .input-description {
        padding: 0.5em;
        background-color: #f8f8f6;
        border-radius: 3px;
        display: flex;
        textarea {
          border: none;
          padding: 0.5em;
          margin-left: 1em;
          border-radius: 3px;
          width: 90%;
          letter-spacing: 0.1em;
          font-size: 1.1rem;
        }
      }
    }
  }
}

.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f7afaf;
}
.alert-success {
  color: #155724;
  background: #d4edda;
  border: none;
}
