:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}
.row .icon-box {
  background: #f8f2f2;
  box-shadow: var(--light-shadow);
  color: black;
  padding: 2em;
  margin: 1em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 1.1em;
}
.row .icon-box .icon {
  font-size: 3rem;
  color: #3fbbc0;
}
.row .icon-box .title {
  font-size: 1.3em;
}
.row .icon-box:hover {
  background: #3fbbc0;
  color: white;
  transition: all 0.3s ease-in;
  box-shadow: var(--dark-shadow);
}
.row .icon-box:hover .icon {
  color: white;
  transition: all 0.3s ease-in;
}

@media (max-width: 960px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}
.review-section {
  background: var(--clr-grey-10);
  padding: 0.5em;
}

.container-review {
  max-width: var(--fixed-width);
  margin: auto;
}

.review-title {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  text-align: center;
  margin-top: 5em;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: #3fbbc0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.review {
  max-width: var(--fixed-width);
  min-height: 500px;
  width: 80%;
  margin: auto;
  text-transform: capitalize;
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
  margin-bottom: 3em;
  position: relative;
}
.review .button-container .prev-btn,
.review .button-container .next-btn {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.review .button-container .prev-btn:hover,
.review .button-container .next-btn:hover {
  color: var(--clr-primary-5);
  transform: scale(1.2);
}
.review .info-review {
  background: var(--clr-grey-8);
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
  font-size: 1.1rem;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}
.review:hover {
  box-shadow: var(--dark-shadow);
}
.review .author {
  margin-bottom: 0.25rem;
}
.review .img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.review .img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
.review .img-container .person-img {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.review .img-container .quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

.hero-section {
  margin: 0 auto;
  margin-top: 4rem;
  /* have to have a height */
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}
.hero-section .hero-slider article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
.hero-section .hero-slider article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.hero-section .hero-slider article.lastSlide {
  transform: translateX(-100%);
}
.hero-section .hero-slider article.nextSlide {
  transform: translateX(100%);
}
.hero-section .hero-container {
  background: rgba(255, 255, 255, 0.9);
  width: 80%;
  margin: 0 auto;
  margin-top: 5em;
  padding: 3em;
  border-top: 4px solid #3fbbc0;
}
.hero-section .hero-container .hero-btn-link {
  background: #3fbbc0;
  padding: 0.5em;
  color: #fff;
  border-radius: 5px;
}
.hero-section .hero-container .hero-btn-link:hover {
  background: var(--clr-primary-5);
  transition: 1s;
}
.hero-section .prev-hero,
.hero-section .next-hero {
  position: absolute;
  top: 230px;
  background: #3fbbc0;
  color: var(--clr-white);
  height: 30px;
  width: 30px;
  display: flex;
  padding-top: 0.5em;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
}
.hero-section .prev-hero {
  transform: translateY(10%);
  left: 5px;
}
.hero-section .next-hero {
  right: 5px;
}
.hero-section .prev-hero:hover,
.hero-section .next-hero:hover {
  background: var(--clr-primary-5);
}

#hero {
  background: var(--clr-grey-10);
  padding: 3em;
}

.how-to-section {
  padding: 2em;
  color: white;
  background: #3fbbc0;
  text-align: center;
  width: 100%;
}
.how-to-section .steps {
  letter-spacing: 0.1em;
  line-height: 1em;
}
.how-to-section .how-to-body {
  margin-bottom: 3em;
}
.how-to-section .how-to-body h1 {
  font-weight: 600;
  font-size: 2rem;
}
.how-to-section .how-to-btn {
  background: #3fbbc0;
  padding: 1em;
  color: #fff;
  border-radius: 5px;
  margin-top: 2em;
  border: 2px solid #fff;
  font-weight: 600;
  letter-spacing: 0.3em;
}
.how-to-section .how-to-btn:hover {
  background: var(--clr-primary-5);
  transition: 1s;
}

#service-section {
  width: 80%;
  margin: auto;
}
#service-section .service-title {
  text-align: center;
}
#service-section .service-body {
  display: grid;
  gap: 4em;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
#service-section .service-body .service-item {
  text-align: center;
  letter-spacing: 0.1em;
}
#service-section .service-body .service-item .bg-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #3fbbc0;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}
#service-section .service-body .service-item .bg-icon:hover {
  box-shadow: 0px 0 25px rgba(63, 187, 192, 0.3);
}

.reminder-section {
  position: relative;
}

.reminder-container {
  letter-spacing: 0.2em;
  width: 70%;
  margin: 5em auto 3em auto;
  background-color: #f3f6c8;
  border-radius: 20px;
  box-shadow: var(--dark-shadow);
  padding: 2em;
  min-width: 500px;
}
.reminder-container h1 {
  color: rgba(119, 116, 116, 0.945);
  text-align: center;
}
.reminder-container .reminder-info {
  display: flex;
}
.reminder-container .reminder-content {
  border-collapse: collapse;
  width: 70%;
  table-layout: fixed;
  margin: auto;
  margin-bottom: 2em;
}
.reminder-container .reminder-content td,
.reminder-container .reminder-content th {
  border: 1px solid #ddd;
  padding: 8px;
  word-wrap: break-word;
}
.reminder-container .reminder-content th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3fbbc0;
  color: white;
}

.reminder-image {
  margin: auto;
}

.link-reminder {
  color: #ec7669;
  font-weight: 600;
  border-bottom: 1px solid #ec7669;
  margin-top: 1rem;
}
.link-reminder:hover {
  filter: brightness(1.2);
}

@media (max-width: 960px) {
  .reminder-info {
    flex-direction: column;
  }
}
.contact-header {
  background: url("https://images.unsplash.com/reserve/O7A9fAvYSXC7NTdz8gLQ_IMGP1039.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80");
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 10em;
}
.contact-header .contact-content {
  width: 100%;
  min-width: 400px;
}
.contact-header .contact-content h1 {
  margin: 0;
}
.contact-header .contact-content a {
  color: #3fbbc0;
}
.contact-header .contact-content a:hover {
  filter: brightness(1.2);
}

@media (max-width: 600px) {
  .contact-header {
    padding: 5em;
  }
}
.contact-hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #f3f6c8;
  padding: 2em;
}
.contact-hero .svg-contact {
  padding: 2em;
  margin-top: 2em;
  max-height: 600px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

#contact-container {
  width: 90%;
  margin: 2em auto;
}
#contact-container button {
  overflow: visible;
}
#contact-container button,
#contact-container select {
  text-transform: none;
}
#contact-container button,
#contact-container input,
#contact-container select,
#contact-container textarea {
  color: #5a5a5a;
  font: inherit;
  margin: 0;
}
#contact-container input {
  line-height: normal;
}
#contact-container textarea {
  overflow: auto;
}
#contact-container #contact-container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}
#contact-container form {
  padding: 37.5px;
  margin: 50px 0;
}
#contact-container h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: none;
}
#contact-container .icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}
#contact-container .icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}
#contact-container .email {
  float: right;
  width: 45%;
}
#contact-container input[type=text],
#contact-container [type=email],
#contact-container select,
#contact-container textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s;
}
#contact-container input[type=email] {
  text-transform: none;
}
#contact-container input[type=text]:focus,
#contact-container [type=email]:focus,
#contact-container textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}
#contact-container .message {
  float: none;
}
#contact-container .name {
  float: left;
  width: 45%;
}
#contact-container select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#contact-container select::-ms-expand {
  display: none;
}
#contact-container .subject {
  width: 100%;
}
#contact-container .telephone {
  width: 100%;
}
#contact-container textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}
#contact-container ::-webkit-input-placeholder {
  color: #474544;
}
#contact-container :-moz-placeholder {
  color: #474544;
  opacity: 1;
}
#contact-container ::-moz-placeholder {
  color: #474544;
  opacity: 1;
}
#contact-container :-ms-input-placeholder {
  color: #474544;
}
#contact-container #form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: all 0.3s;
}
#contact-container #form_button:hover {
  background: #474544;
  color: #f2f3eb;
}
@media screen and (max-width: 768px) {
  #contact-container #contact-container {
    margin: 20px auto;
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  #contact-container h1 {
    font-size: 26px;
  }
  #contact-container #form_button {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 420px) {
  #contact-container h1 {
    font-size: 18px;
  }
  #contact-container .icon {
    height: 35px;
    width: 35px;
  }
  #contact-container input[type=text],
#contact-container [type=email],
#contact-container select,
#contact-container textarea {
    font-size: 0.875em;
  }
}

.contact-faq {
  width: 80%;
  margin: 2em auto;
  padding: 2em;
}
.contact-faq a {
  color: #ec7669;
  font-weight: bold;
}
.contact-faq img {
  margin-top: 2em;
}
.contact-faq li {
  margin-bottom: 1em;
}

@media (max-width: 1200px) {
  .contact-hero {
    display: flex;
    flex-direction: column;
  }

  .svg-contact {
    height: 300px;
  }
}
.about-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  background: rgba(231, 219, 219, 0.4588235294);
  padding: 5em;
}

.wave {
  float: left;
  margin: 20px;
  -webkit-animation: wave ease-in-out 0.5s infinite alternate;
          animation: wave ease-in-out 0.5s infinite alternate;
  transform-origin: center -36px;
}

.wave:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
}

.wave img {
  border: 5px solid #f8f8f8;
  display: block;
  width: 100%;
}

.wave figcaption {
  text-align: center;
}

.wave:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1.5px solid #ffffff;
  top: -10px;
  left: 50%;
  border-bottom: none;
  border-right: none;
  transform: rotate(35deg);
}

.wave:before {
  content: "";
  position: absolute;
  top: -23px;
  left: 50%;
  display: block;
  height: 44px;
  width: 47px;
  background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  z-index: 16;
}

@-webkit-keyframes wave {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes wave {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.founder-section {
  width: 100%;
  margin: auto;
  margin: 10em auto;
}

.founder {
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  max-height: 100%;
  max-width: 100%;
}

.frame-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  margin: 10vh 10vw;
  height: 80vh;
  padding: 8vmin;
  position: relative;
  text-align: center;
}
.frame:before {
  border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
}
.frame:after {
  border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin;
}

.about-us-section {
  text-align: center;
  line-height: 2em;
}
.about-us-section .about-us-content {
  width: 85%;
  margin: 5em auto;
  display: flex;
}
.about-us-section .about-us-content img {
  max-width: 500px;
  margin-right: 3em;
  margin-left: 3em;
}
.about-us-section .about-us-content .promise {
  display: flex;
  align-items: center;
}

.lab {
  text-align: center;
  margin: 5em auto;
}

.lab-container {
  display: flex;
  justify-content: center;
  margin-top: 6em;
  width: 90%;
  margin: auto;
}
.lab-container img {
  max-width: 500px;
  margin-right: 3em;
  margin-left: 3em;
}
.lab-container .lab-content {
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lab-container .lab-content .promise {
  display: flex;
  gap: 2em;
  align-items: center;
}
.lab-container .lab-content .promise .promise-content {
  max-width: 500px;
}
.lab-container .lab-content .promise .promise-content h1 {
  color: #3fbbc0;
}

.location {
  width: 80%;
  margin: auto;
  margin-bottom: 3em;
}
.location h1 {
  text-align: center;
}
.location .location-iframe {
  width: 100%;
  display: flex;
  justify-content: center;
}
.location .company-info {
  width: 70%;
  margin: auto;
  margin-top: 2em;
  border: 1px solid #3fbbc0;
  padding: 2em;
}
.location .company-info li {
  margin-bottom: 2em;
  line-height: 2em;
}
.location .company-info li span {
  color: #3fbbc0;
  font-weight: 600;
}

@media (max-width: 1476px) {
  .about-us-content {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1276px) {
  .lab-container {
    flex-direction: column;
    align-items: center;
  }
}
.div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcome-msg {
  position: relative;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 2em;
}
.welcome-msg .welcome-card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(63, 187, 192, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.welcome-msg .welcome-card:hover {
  height: 500px;
}

.welcome-msg .welcome-card .welcome-image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -20%;
  left: 8px;
  z-index: 1;
}
.welcome-msg .welcome-card .welcome-image img {
  max-width: 100%;
  border-radius: 15px;
}

.welcome-msg .welcome-card .welcome-content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #3fbbc0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.welcome-msg .welcome-card:hover .welcome-content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.welcome-message-container {
  color: #3fbbc0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  min-height: 800px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.upcoming-appointment {
  background: linear-gradient(45deg, rgba(174, 173, 182, 0.8), rgba(62, 73, 62, 0.3)), url("https://images.pexels.com/photos/5998448/pexels-photo-5998448.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&dpr=1");
  padding: 3em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
}
.upcoming-appointment .appointment {
  background: #f6f6f6;
  width: 30%;
  padding: 1em;
  box-shadow: var(--dark-shadow);
  margin-left: 10em;
  display: flex;
  align-items: center;
  gap: 2em;
}

@media (max-width: 1170px) {
  .upcoming-appointment .appointment {
    width: 100%;
    margin: 0;
  }
}/*# sourceMappingURL=home.css.map */