.video-call-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video-call-container .videoDisplay {
  width: 700px;
}
@media screen and (max-width: 570px) {
  .video-call-container .videoDisplay {
    width: 300px;
  }
}

.myId {
  margin-top: 2em;
  border-radius: 5px;
  background: #c9d6ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.call-button {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.join-video {
  filter: brightness(1.2);
  padding: 0.1em;
  border-radius: 10px;
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  position: relative;
}
.join-video:hover {
  background: #b3c3df;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.join-video::before, .join-video::after {
  --tooltip-color: #98d4d6;
  --arrow-size: 10px;
  position: absolute;
  bottom: -0.35rem;
  left: 50%;
  --scale: 0;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: transform 0.2s ease-in;
  transform-origin: top center;
}
.join-video::before {
  --translate-y: calc(100% + var(--arrow-size));
  font-size: 0.8rem;
  content: attr(data-tooltip);
  padding: 0.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  text-align: center;
  background: var(--tooltip-color);
}
.join-video:hover::before, .join-video:hover::after {
  --scale: 1;
}
.join-video::after {
  --translate-y: var(--arrow-size);
  content: "";
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}
.join-video:hover {
  cursor: pointer;
}

.video-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.caller {
  text-align: center;
  color: #fff;
}

.app {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.time {
  font-size: 3rem;
  padding: 2rem;
}

.hover-effect:hover {
  box-shadow: var(--dark-shadow);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.no-appointment {
  --blue: #0e0620;
  --white: #fff;
  --green: #2ccf6d;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-appointment .no-appointment-svg {
  width: 100%;
}
.no-appointment .no-appointment-container {
  width: 100%;
}
.no-appointment .no-appointment-main-container {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.no-appointment .no-appointment-main-container .no-appointment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-appointment .btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}
.no-appointment .btn.green {
  border: 4px solid var(--green);
  color: var(--blue);
}
.no-appointment .btn.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--green);
  z-index: -1;
  transition: 0.2s ease;
}
.no-appointment .btn.green:hover {
  color: var(--white);
  background: var(--green);
  transition: 0.2s ease;
}
.no-appointment .btn.green:hover:before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .no-appointment .no-appointment-main-container {
    flex-direction: column;
    align-items: center;
  }
}

.appointment-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-size: 1.3rem;
}
.appointment-user-info h1 {
  color: #000;
}
.appointment-user-info .appointment-item-container {
  width: 80%;
  margin: auto;
  margin-top: 2em;
  background: #00bbc0;
  box-shadow: var(--dark-shadow);
  border-radius: 10px;
  padding: 2em;
}
.appointment-user-info .appointment-item {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}
.appointment-user-info .appointment-item .item-logo {
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 1em;
  border-radius: 50%;
  font-size: 2.5rem;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.appointment-user-info .appointment-item .item-logo:hover {
  background: #b3c3df;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.appointment-user-info .appointment-item .item-logo::before, .appointment-user-info .appointment-item .item-logo::after {
  --tooltip-color: #98d4d6;
  --arrow-size: 10px;
  position: absolute;
  bottom: -0.15rem;
  left: 50%;
  --scale: 0;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: transform 0.2s ease-in;
  transform-origin: top center;
}
.appointment-user-info .appointment-item .item-logo::before {
  --translate-y: calc(100% + var(--arrow-size));
  font-size: 0.8rem;
  content: attr(data-tooltip);
  padding: 0.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  text-align: center;
  background: var(--tooltip-color);
}
.appointment-user-info .appointment-item .item-logo:hover::before, .appointment-user-info .appointment-item .item-logo:hover::after {
  --scale: 1;
}
.appointment-user-info .appointment-item .item-logo::after {
  --translate-y: var(--arrow-size);
  content: "";
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}
.appointment-user-info .appointment-item .item-logo:hover {
  cursor: pointer;
}
@media (max-width: 1060px) {
  .appointment-user-info .appointment-item-container {
    width: 95%;
  }
  .appointment-user-info .appointment-item {
    flex-direction: column;
  }
}

#doctor-join-section {
  min-height: 80vh;
}/*# sourceMappingURL=video.css.map */