.pharmacy-container {
  padding: 3em;
  box-shadow: 0 2px 25px rgba(110, 103, 107, 0.5);
  width: 80%;
  margin: auto;
  margin-bottom: 3em;
  border-radius: 20px;
}

.medicine-card {
  min-height: 25rem;
  overflow: hidden;
  min-width: 300px;
  position: "relative";
  transition: all 0.3s ease-in;
}
.medicine-card img {
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 2px 25px rgba(110, 103, 107, 0.5);
}
.medicine-card p {
  position: absolute;
  transform: translateY(200px);
  font-size: 2rem;
  color: #fff;
}
.medicine-card:hover p {
  transform: translateY(0);
  transition: 0.5s;
  position: absolute;
  text-align: center;
  display: inline;
  width: 100%;
  z-index: 30;
  color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  min-height: 35rem;
}

.view-med-container {
  padding: 1em;
  z-index: 30;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.view-medicine {
  border-radius: 4px;
  background: #3fbbc0;
  padding: 0.5em;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.view-medicine:hover {
  filter: brightness(1.2);
}

.img-slider {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.medicine-category {
  width: 70%;
  margin: 10em auto 5em auto;
}
.medicine-category .medicine-category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2em;
}
.medicine-category .medicine-category-container .medicine-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1019607843);
  border-radius: 8px;
  padding: 1em;
  white-space: normal;
}
.medicine-category .medicine-category-container .medicine-item:hover {
  border: 1px solid #3fbbc0;
  cursor: pointer;
}

#medicine-section {
  width: 100%;
  margin: auto;
  padding: 2em;
}
#medicine-section .product-container {
  padding: 2em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  border-left: 1px solid rgba(63, 187, 192, 0.3);
}
#medicine-section .product-container .product-item {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(63, 187, 192, 0.3);
  border-bottom: 1px solid rgba(63, 187, 192, 0.3);
}
#medicine-section .product-container .product-item .doctor-info-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
#medicine-section .product-container .product-item .doctor-info-rating .checked {
  color: orange;
}
#medicine-section .product-container .product-item img {
  max-width: 100px;
  width: 100%;
}
#medicine-section .product-container .product-item .view-product-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  margin-top: 1em;
  background: #3fbbc0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-text-decoration: none;
  text-decoration: none;
  min-width: 200px;
  box-shadow: var(--dark-shadow);
}
#medicine-section .product-container .product-item .view-product-btn:hover {
  filter: brightness(1.2);
}
#medicine-section .product-container .product-item .view-product-btn:active {
  transform: translateY(5px);
  transition: all 0.5 ease-in;
}
#medicine-section .product-container .product-item:hover {
  transform: translateY(-5px);
  transform: translateX(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  background: rgba(240, 233, 233, 0.1);
  transition: all 0.5s ease-in;
}
@media (max-width: 760px) {
  #medicine-section .product-container {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  overflow-y: scroll;
  margin: 0;
  height: 80%;
  width: 60%;
  z-index: 1000;
  border-radius: 5px;
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: flex-start;
}
.modal::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 10px;
}
.modal::-webkit-scrollbar-track {
  background: transparent;
}
.modal .model-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.modal .closeModal {
  filter: brightness(1.2);
  padding: 0.1em;
  border-radius: 10px;
  color: #3fbbc0;
  font-size: 3rem;
  display: flex;
  align-items: center;
  position: relative;
}
.modal .closeModal:hover {
  background: #b3c3df;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.modal .closeModal::before, .modal .closeModal::after {
  --tooltip-color: #98d4d6;
  --arrow-size: 10px;
  position: absolute;
  bottom: -0.35rem;
  left: 50%;
  --scale: 0;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: transform 0.2s ease-in;
  transform-origin: top center;
}
.modal .closeModal::before {
  --translate-y: calc(100% + var(--arrow-size));
  font-size: 0.8rem;
  content: attr(data-tooltip);
  padding: 0.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  text-align: center;
  background: var(--tooltip-color);
}
.modal .closeModal:hover::before, .modal .closeModal:hover::after {
  --scale: 1;
}
.modal .closeModal::after {
  --translate-y: var(--arrow-size);
  content: "";
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}
.modal .closeModal:hover {
  cursor: pointer;
}
.modal .modal-content {
  width: 90%;
  margin: auto;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 2em;
}
.modal .modal-content .modal-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1000;
  margin-bottom: 2em;
}
.modal .modal-content .modal-image img {
  max-width: 500px;
}
.modal .modal-content .modal-category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.modal .modal-content .modal-category .category-modal-item {
  padding: 1em;
}
.modal .modal-content .modal-category .category-modal-item:hover {
  cursor: pointer;
}
.modal .modal-content .modal-category .category-modal-item1 {
  padding: 1em;
  color: #3fbbc0;
  border-bottom: 3px solid #3fbbc0;
}
.modal .modal-content .modal-category .category-modal-item1:hover {
  cursor: pointer;
}
.modal .modal-content .sub-modal-container {
  border-top: 3px solid rgba(63, 187, 192, 0.2);
  margin-top: 3em;
}
.modal .modal-content .category-content {
  margin-top: 2em;
}
.modal .modal-content .category-content h4 {
  color: #3fbbc0;
}
.modal .modal-content .category-content .styled-list {
  list-style-type: circle;
  width: 70%;
  margin-left: 2em;
}
.modal .modal-content .category-content .check-list {
  margin: 0;
  padding-left: 1.2rem;
}
.modal .modal-content .category-content .check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}
.modal .modal-content .category-content .check-list li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
.modal .modal-content .modal-description {
  line-height: 1.5em;
}
.modal .modal-content .toggle-info-btn {
  filter: brightness(1.2);
  padding: 0.1em;
  border-radius: 10px;
  color: #1ca7e7;
  font-size: 1.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  position: relative;
}
.modal .modal-content .toggle-info-btn:hover {
  background: #b3c3df;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.modal .modal-content .toggle-info-btn::before, .modal .modal-content .toggle-info-btn::after {
  --tooltip-color: #98d4d6;
  --arrow-size: 10px;
  position: absolute;
  bottom: -0.35rem;
  left: 50%;
  --scale: 0;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: transform 0.2s ease-in;
  transform-origin: top center;
}
.modal .modal-content .toggle-info-btn::before {
  --translate-y: calc(100% + var(--arrow-size));
  font-size: 0.8rem;
  content: attr(data-tooltip);
  padding: 0.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  text-align: center;
  background: var(--tooltip-color);
}
.modal .modal-content .toggle-info-btn:hover::before, .modal .modal-content .toggle-info-btn:hover::after {
  --scale: 1;
}
.modal .modal-content .toggle-info-btn::after {
  --translate-y: var(--arrow-size);
  content: "";
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}
.modal .modal-content .toggle-info-btn:hover {
  cursor: pointer;
}
.modal .modal-content .warning-modal {
  border: 1px solid #a64452;
  border-radius: 5px;
  padding: 2em;
}
.modal .modal-content .modal-description-footer {
  background: #3fbbc0;
  padding: 1em;
  border-radius: 5px;
  color: #f6f6f6;
}
.modal .modal-content .sub-section-modal {
  display: flex;
  align-items: center;
  gap: 2em;
}

@media screen and (max-width: 1476px) {
  .modal {
    justify-content: flex-start;
    width: 80%;
    height: 80%;
    padding: 2em;
  }
  .modal .modal-content .modal-image img {
    max-width: 300px;
  }
}
@media screen and (max-width: 876px) {
  .modal {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
}/*# sourceMappingURL=pharmacy.css.map */