.user-container {
  width: 80%;
  margin: auto;
}

#schedule-container,
.past {
  @import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Barlow+Condensed:wght@100&family=Lato:wght@300&family=Libre+Bodoni:ital@1&display=swap");
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.3rem;
    line-height: 2rem;
  }
  h1 {
    text-align: center;
  }
  h3 {
    color: #cd5c5c;
  }
  margin-bottom: 5em;
  .appointment-information-container {
    width: 70%;
    margin: auto;
    box-shadow: var(--dark-shadow);
    padding: 2em;
    border-radius: 10px;
    position: relative;

    input[type="date"],
    input[type="datetime-local"] {
      text-transform: uppercase;
    }
    input,
    textarea,
    input[type="radio"] + label,
    input[type="checkbox"] + label:before,
    select option,
    select {
      text-transform: none;
      width: 100%;
      padding: 1em;
      line-height: 1.4;
      background-color: #f9f9f9;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      -webkit-transition: 0.35s ease-in-out;
      -moz-transition: 0.35s ease-in-out;
      -o-transition: 0.35s ease-in-out;
      transition: 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
    }

    input[type="radio"] + label {
      cursor: pointer;
    }

    input:focus,
    textarea:focus {
      outline: 0;
      border-color: #3fbbc0;
    }

    input[type="reset"] {
      border: none;
      &:hover {
        cursor: pointer;
        background: #f6f6f6;
        color: #3fbbc0;
      }
    }

    input:focus + .input-icon:after {
      border-right-color: #3fbbc0;
    }
    textarea:focus + .input-icon:after {
      border-right-color: #3fbbc0;
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"] + label,
    select {
      display: inline-block;
      width: 50%;
      text-align: center;
      float: left;
      border-radius: 0;
    }
    input[type="radio"] + label:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    input[type="radio"] + label:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    input[type="radio"] + label i {
      padding-right: 0.4em;
    }
    input[type="radio"]:checked + label,
    input:checked + label:before,
    select:focus,
    select:active {
      background-color: #3fbbc0;
      color: #fff;
      border-color: #3fbbc0;
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label {
      position: relative;
      display: block;
      padding-left: 1.6em;
    }
    input[type="checkbox"] + label:before {
      position: absolute;
      top: 0.2em;
      left: 0;
      display: block;
      width: 1em;
      height: 1em;
      padding: 0;
      content: "";
    }
    input[type="checkbox"] + label:after {
      position: absolute;
      top: 0.45em;
      left: 0.2em;
      font-size: 0.8em;
      color: #fff;
      opacity: 0;
      font-family: FontAwesome;
      content: "\f00c";
    }
    input:checked + label:after {
      opacity: 1;
    }
    select {
      height: 3.4em;
      line-height: 2;
    }
    select:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    select:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    select:focus,
    select:active {
      outline: 0;
    }
    select option {
      background-color: #3fbbc0;
      color: #fff;
    }
    .input-group {
      margin-bottom: 1em;
      zoom: 1;
    }
    .input-group:before,
    .input-group:after {
      content: "";
      display: table;
    }
    .input-group:after {
      clear: both;
    }
    .input-group-icon {
      position: relative;
    }
    .input-group-icon input {
      padding-left: 4.4em;
    }
    .input-group-icon textarea {
      padding-left: 5.4em;
    }
    .input-group-icon .input-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 3.4em;
      height: 3.4em;
      line-height: 3.4em;
      text-align: center;
      pointer-events: none;
    }
    .input-group-icon .input-icon:after {
      position: absolute;
      top: 0.6em;
      bottom: 0.6em;
      left: 3.4em;
      display: block;
      border-right: 1px solid #e5e5e5;

      content: "";
      -webkit-transition: 0.35s ease-in-out;
      -moz-transition: 0.35s ease-in-out;
      -o-transition: 0.35s ease-in-out;
      transition: 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
    }

    .input-group-icon .input-icon i {
      -webkit-transition: 0.35s ease-in-out;
      -moz-transition: 0.35s ease-in-out;
      -o-transition: 0.35s ease-in-out;
      transition: 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
    }

    .row-appointmnet {
      zoom: 1;
    }
    .row-appointmnet:before,
    .row-appointmnet:after {
      content: "";
      display: table;
    }
    .row-appointmnet:after {
      clear: both;
    }
    .col-half {
      padding-right: 10px;
      float: left;
      width: 50%;
    }
    .col-half:last-of-type {
      padding-right: 0;
    }

    @media only screen and (max-width: 540px) {
      .col-half {
        width: 100%;
        padding-right: 0;
      }
    }
    .icon {
      color: #00bbcf;
      cursor: pointer;
      position: absolute;
      top: 3%;
      right: 3%;
    }
    .appointment-item {
      border-bottom: 1px solid #c4c4c459;
    }
    margin-bottom: 5em;
  }
  @media (max-width: 870px) {
    .appointment-information-container {
      width: 90%;
      margin: auto;
    }
  }
  .doctor-information-container {
    width: 95%;
    margin: auto;
    margin-top: 4em;
    display: flex;
    gap: 1em;
    .doctor-image {
      border: 1px solid #c4c4c459;
      width: 50%;
      padding: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        max-width: 400px;
        width: 100%;
      }
    }
    @media (max-width: 870px) {
      .doctor-image {
        width: 90%;
        margin: auto;
      }
    }
    .doctor-info {
      background: #242222;
      color: #f6f6f6;

      padding: 2em;
      .bg {
        padding: 1em;
        background: #6b6868;
      }
    }
  }
}

@media (max-width: 870px) {
  .doctor-information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.user-entire-container {
  margin-top: 2em;
  min-height: 80vh;
}
.appointment-container {
  width: 80%;
  margin: auto;
  .nav-bar-appointment {
    width: max-content;
    background: #eff1f7;
    border-radius: 10px;
    padding: 1.1em;
    margin-left: 2em;
    .nav-btn {
      margin-right: 2em;
      padding: 1em;
      cursor: pointer;
      font-weight: 600;
      color: #4d4747;
    }
    .active {
      background: #fff;
      border-radius: 10px;
      color: #00bbcf;
      transition: all 0.3s ease-in;
    }
  }
}

.past-appointment-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  .appointment-item {
    background: #fff;
    box-shadow: var(--light-shadow);
    padding: 1em;
    display: flex;
    gap: 3rem;
    align-items: center;
    .doctor-info {
      display: flex;
      width: 500px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
@media (max-width: 600px) {
  .appointment-container {
    width: 100%;
    .nav-bar-appointment {
      display: flex;
      flex-direction: column;
    }
  }

  .appointment-details {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 2rem;
  }
  .past-appointment-container {
    .appointment-item {
      flex-direction: column;
      width: 100%;
      .doctor-info {
        width: 300px;
      }
    }
  }
}
.past {
  position: relative;
}
.medical-link {
  position: absolute;
  top: 0;
  right: 0;
  color: #cd5c5c;
  font-weight: 300;
  text-decoration: underline;
}
